.categoryButtons {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.categoryButtons li {
  list-style-type: none;
  margin-right: 10px;
}

button {
  background-color: #2d2b2b80;
  border: none;
  color: black;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
  outline: none;
}

button:hover {
  background-color: #4e646445;
}
